body {
    background-color: red;
}

.text-container {
    background-color: white;
}

.navbar {
    background-color: darkblue;
}

.nav-item {
    text-align: center;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

/*
a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}
*/
